@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.clip {
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}

@media only screen and (max-width: 1200px) {
  .clip {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
  }
}
